.BACKGROUND{
    background-image: linear-gradient(#F29102,#FFFFFF,#007801);
    width: 100vw;
    height: 100VH;
    padding-top: 3%;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading h1{
 margin-left: 25%;
 
}
.image{
    display: flex;
}
.image img{
    margin: 0 auto;
    position: relative;
    right: 7%;
}
.content{
    display: flex;
    margin-top: 2.5%;
}
.content p{
    font-size: 1.5em;
    line-height: 1em;
}
footer{
    display: flex;
    margin-inline: auto;
}
.end{
    margin-top: 2.5%;
    display: flex;
}
.end p{
    width: 50%;
    margin-inline: auto;
    font-size: 1.5em;
}

.kohli:hover{
 font-weight: bold; 
 color: #3066C7; 
}
.rohit:hover{
    font-weight: bold;
 color: #3066C7;
}